---
import PageLayout from "@/layouts/PageLayout.astro";
import { allList, getListIntl } from "@/customize/list";
import type { MetaData, WordDetail } from "@/common/types";
import Words from "@/components/widget/Words.astro";
import { loadAllWords } from "@/utils/words";
import { getLang, supportedLang } from "@/customize/lang";

export async function getStaticPaths() {
    let paths = [];
    for (let lang of supportedLang) {
        for (let list of allList) {
            paths.push({
                params: {
                    locale: lang?.locale,
                    list: list.name,
                },
            });
        }
    }
    return paths;
}

const { list, locale } = Astro.params;

const lang = getLang(locale);

const wordList = allList.find((item) => item.name === list);

const wordListDesc = wordList ? getListIntl(wordList, lang) : null;

const allWords: WordDetail[] = loadAllWords();

let listWords = [];

for (let i = 0; i < allWords.length; i++) {
    // if tags in wordList.tags cross with allWords[i].tags
    if (wordList?.tags.some((tag) => allWords[i].tags.includes(tag))) {
        listWords.push(allWords[i]);
    }
}

const metadata: MetaData = {
    title: "Chinese Words",
    description: "Chinese Words",
    lang: getLang(locale),
};
---

<PageLayout metadata={metadata}>
    <div class="px-5 py-16 md:px-10 md:py-24 lg:py-25">
        <h1 class="text-3xl font-bold md:text-5xl text-center mb-10">
            {wordListDesc?.title}
        </h1>
        <p class="text-center text-xl text-gray-500">
            {wordListDesc?.description}
        </p>
    </div>
    <Words words={listWords} />
</PageLayout>
