---
import type { Explanation } from "@/common/types";
import PinyinWords from "./PinyinWords.astro";

interface Props {
    explanation: Explanation;
    index: number;
}

const { explanation, index } = Astro.props;
---

<div class="shadow-md rounded-md">
    <h3 class="md:text-xl bg-gray-100 rounded-t-md p-2 text-blue-700">
        #{index + 1} -
        {explanation.translate.english}
    </h3>
    <div class="md:text-xl p-4">
        {
            explanation.examples.map((example, index) => (
                <div>
                    <PinyinWords word={example.example} />
                    <p class="mt-2 tracking-wide">
                        {example.translate.english}
                    </p>
                    {index < explanation.examples.length - 1 && (
                        <hr class="my-2" />
                    )}
                </div>
            ))
        }
    </div>
</div>
