---

---

<div
    class="prose max-w-none md:prose-lg lg:prose-xl dark:prose-invert
  prose-h1:font-bold md:prose-h1:text-5xl prose-h1:text-3xl prose-h1:mx-auto prose-h1:text-center"
>
    <slot />
</div>
