---
import type { WordDetail, Language } from "@/common/types";

interface Props {
    words: WordDetail[];
    lang: Language;
}

const { words, lang } = Astro.props;
---

<div class="grid grid-cols-5 md:grid-cols-10">
    {
        words.map((word) => (
            <a
                class="block hover:text-blue-700 m-2 text-xl"
                href={`/${lang.locale}/words/${word.word}`}
            >
                {word.word}
            </a>
        ))
    }
</div>
