---
import type { Language } from "@/common/types";
import AQ from "./widget/AQ.astro";
import { getFaqData } from "@/customize/faq";
import { getIntlData } from "@/customize/intl";

interface Props {
    lang: Language;
}

const { lang } = Astro.props;

const questions = getFaqData(lang);
const intlData = getIntlData(lang);
---

<section>
    <!-- Container -->
    <div class="mx-auto w-full max-w-5xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
        <!-- Heading Div -->
        <div class="mb-8 text-center md:mb-12 lg:mb-16">
            <h2 class="text-2xl font-semibold md:text-4xl">
                {intlData.home.faqTitle}
            </h2>
        </div>
        <!-- FAQ Div -->
        <div class="mb-8 md:mb-12 lg:mb-16">
            {questions.map((question) => <AQ question={question} />)}
        </div>
    </div>
</section>
