---

---

<section>
    <nav class="lg:relative lg:top-0 border-b-[1px] max-w-screen-xl mx-auto">
        <div class="flex flex-row items-center justify-between h-14">
            <div>
                <a class="ml-2 text-xl font-bold" href="/">Chinese Words</a>
            </div>
            <div>
                <a
                    href="/lists"
                    class="rounded-lg lg:px-6 lg:py-4 hover:bg-gray-5">Lists</a
                >
                <a
                    href="/words"
                    class="rounded-lg lg:px-6 lg:py-4 hover:bg-gray-5">Word</a
                >
                <!-- <a
                    href="/blog"
                    class="rounded-lg lg:px-6 lg:py-4 hover:bg-gray-5">Blog</a
                > -->
            </div>
        </div>
    </nav>
</section>
