---

---

<section>
    <div class="h-auto w-screen">
        <nav
            class="lg:relative lg:top-0 border-b-[1px] max-w-screen-xl mx-auto"
        >
            <div class="flex flex-row items-center justify-between h-14">
                <div>
                    <span class="ml-2 text-xl font-bold">Chinese Words</span>
                </div>
                <div>
                    <a
                        href="/hsk"
                        class="rounded-lg lg:px-6 lg:py-4 hover:bg-gray-5"
                        >HSK</a
                    >
                    <a
                        href="/blog"
                        class="rounded-lg lg:px-6 lg:py-4 hover:bg-gray-5"
                        >Blog</a
                    >
                </div>
            </div>
        </nav>
    </div>
</section>
