---
const path = Astro.url.pathname;

const isListActive = path === "/lists";
const isWordActive = path === "/words";
---

<section>
    <nav class="lg:relative lg:top-0 border-b-[1px]">
        <div class="flex flex-row items-center justify-between h-14">
            <div>
                <a class="ml-2 text-xl font-bold" href="/">Chinese Words</a>
            </div>
            <div>
                {
                    isListActive ? (
                        <a
                            href="/lists"
                            class="p-4 text-blue-700 font-semibold"
                        >
                            Lists
                        </a>
                    ) : (
                        <a href="/lists" class="p-4">
                            Lists
                        </a>
                    )
                }
                <!-- {
                    isWordActive ? (
                        <a
                            href="/words"
                            class="p-4 text-blue-700 font-semibold"
                        >
                            Word
                        </a>
                    ) : (
                        <a href="/words" class="p-4">
                            Word
                        </a>
                    )
                } -->
                <!-- <a
                    href="/blog"
                    class="rounded-lg lg:px-6 lg:py-4 hover:bg-gray-5">Blog</a
                > -->
            </div>
        </div>
    </nav>
</section>
