---

---

<!-- Hero Container -->
<div class="mx-auto max-w-screen-2xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
    <h1 class="mb-10 text-3xl font-bold md:text-5xl text-center">
        Find And Learn Chinese Words
    </h1>
    <div class="my-10 max-w-screen-lg mx-auto">
        <label class="input input-bordered flex items-center gap-2">
            <input
                type="text"
                class="grow"
                placeholder="Search by pinyin or Chinese word..."
                id="searchInput"
            />
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 16 16"
                fill="currentColor"
                class="h-4 w-4 opacity-70"
            >
                <path
                    fill-rule="evenodd"
                    d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                    clip-rule="evenodd"
                >
                </path>
            </svg>
        </label>
    </div>
</div>

<script>
    let searchInput = document.getElementById("searchInput");
    if (searchInput) {
        searchInput.addEventListener("keydown", function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                let query = (searchInput as HTMLInputElement).value;
                if (!query) return;
                window.open(`/words/${query}`);
            }
        });
    }
</script>
