---
import PageLayout from "@/layouts/PageLayout.astro";
import { allList } from "@/customize/list";
import ListItem from "@/components/widget/ListItem.astro";
import { getLang, supportedLang } from "@/customize/lang";
import type { MetaData } from "@/common/types";

export async function getStaticPaths() {
    return supportedLang.map((lang) => {
        return {
            params: {
                lang: lang?.locale,
            },
        };
    });
}

const { lang } = Astro.params;

const metadata: MetaData = {
    title: "Chinese Words",
    description: "Chinese Words",
    lang: getLang(lang),
};
---

<PageLayout metadata={metadata}>
    <div class="px-5 py-16 md:px-10 md:py-24 lg:py-25">
        <h1 class="text-3xl font-bold md:text-5xl text-center mb-10">
            Chinese Words List
        </h1>
        <p class="text-center text-xl text-gray-500">
            Organize Chinese words into different lists according to various
            usage scenarios, facilitating learning for different purposes.
        </p>
    </div>

    <div class="flex flex-col items-center py-16 px-5">
        <div class="grid gap-10 lg:grid-cols-2 md:grid-cols-1">
            {allList.map((word) => <ListItem detail={word} />)}
        </div>
    </div>
</PageLayout>
