---
import fs from "fs";
import PageLayout from "@/layouts/PageLayout.astro";
import type { WordDetail } from "@/common/types";
import { pinyin } from "pinyin-pro";

// export const prerender = false;

const wordFiles = fs.readdirSync("src/data/words");

const wordDetails: WordDetail[] = wordFiles.map((wordFile) => {
    const content = fs.readFileSync(`src/data/words/${wordFile}`);
    return JSON.parse(content.toString());
});

let filterWordDetails = wordDetails;

const pinyinStart = Astro.url.searchParams.get("ps");

if (pinyinStart) {
    filterWordDetails = wordDetails.filter((word) => {
        let py = pinyin(word.word, { toneType: "none" });
        return py.startsWith(pinyinStart);
    });
}

const metadata = {
    title: "Chinese Words",
    description: "Chinese Words",
};
---

<PageLayout metadata={metadata}>
    <div class="grid gap-5 lg:grid-cols-10 md:grid-cols-5">
        {
            filterWordDetails.map((word) => (
                <a
                    class="px-2 py-1 m-2 rounded block text-center"
                    href={`/words/${word.word}`}
                >
                    {word.word}
                </a>
            ))
        }
    </div>
</PageLayout>
