---
import type { MetaData as MetaDataType } from "@/common/types";
export interface Props {
	metadata: MetaDataType;
}

const { metadata } = Astro.props;
---

<!doctype html>
<html lang={metadata.lang.locale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={metadata.description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{metadata.title}</title>
	</head>
	<body class="font-serif max-w-screen-2xl mx-auto min-h-screen">
		<slot />
	</body>
</html>
